<div id= "create">
	NEW USER
</div>

<div id= "form">
<form action="/users" method="POST">
	<label for="name">Name<br>
		<input type="text" name="user[name]"><br>
	</label>
	<label for="avatar">Avatar<br>
		<input type="text" name="user[avatar]"><br>
	</label>
	<label for="Date Joined">Date Joined<br>
		<input type="text" name="user[date_joined]"><br>
	</label>
	<label for="location">Location<br>
		<input type="text" name="user[location]"><br>
	</label>
	<label for="bio">Biography<br>
		<input type="text" name="user[bio]"><p>
	</label>

	<input type="submit" value="Submit">
</form>
</div>