<div id= "create">
	NEW POST
</div>

<div id= "form">
<form action="/posts" method="POST">
	
	<label for="title">Title<br>
		<input type="text" name="post[title]">
	</label><p>

	<label for="user">User<br>
		<select name="post[user_id]">
			<% @users.each do |user| %>
				<option value="<%= user.id %>"><%= user.name %></option>
			<% end %>
		</select>   
		or
		<a href="/users/new">Create New User</a>
	</label><p>

	<label for="content">Content<br>
		<input type="text" name="post[content]">
	</label><p>

	<label for="tags">Tags<br>
  <% @tags.each do |tag| %>
  <input type="checkbox" name="tag_id[]" value="<%= tag.id %>"><%= tag.name %><br/>
  </label>
  <% end %>
  <p>
	<input type="submit" name="Submit">

</form>
</div>

