<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/style.css">
	<title>MICROBLOG</title>
</head>

<body>
	<header><a href="/"><img src ="http://s16.postimg.org/43yve2euc/microblogbanner.jpg" style='width: 100%'></a></header>
	
	<div id="nav">
		<a href="/posts">POSTS</a> |
		<a href="/users">USERS</a> |
		<a href="/tags">TAGS</a>
	</div>

	<div id="content">
		<%= yield %>
	</div>

</body>
</html>

	