<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/style.css">
	<title>THOUGHT RECORD</title>
</head>

<body>

	<header><a href="/"><img src="http://s28.postimg.org/y4wtrn2y4/thoughtrecordheader.jpg"></a></header>
	
	<div id="nav">
		<a href="/"><img src='http://s8.postimg.org/d9kvk94jp/homebutton.jpg' style='width: 12%'	></a>
		<a href="/posts"><img src='http://s23.postimg.org/or3zechrv/postsbutton.jpg' style='width: 12%'></a>
		<a href="/users"><img src='http://s22.postimg.org/4inye3tlt/usersbutton.jpg' style='width: 12%'></a>
		<a href="/tags"><img src='http://s27.postimg.org/j3t2ddqrn/tagsbutton.jpg' style='width: 12%'></a>
	</div>


	<div id="content">
		<%= yield %>
	</div>


</body>
</html>

	